@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@import url(./styles/Navbar.css);
@import url(./styles/Footer.css);